<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gvsu.cis.mqtt_sweeper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sweep_color"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sweep_color"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".BackgroundNotifier"
            android:exported="false"></service>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScanResultActivity"
            android:label="@string/title_activity_scan_result"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Scanner.ScannerService"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TopicViewActivity"
            android:label="@string/title_activity_topiv_view_acivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PublishTopic"
            android:label="@string/title_activity_publish_topic"
            android:parentActivityName=".BrokerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="edu.gvsu.cis.mqtt_sweeper.BrokerActivity" />

        <activity
            android:name=".AddBrokerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanActivity"
            android:label="@string/title_activity_scan"
            android:parentActivityName=".BrokerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gvsu.cis.mqtt_sweeper.BrokerActivity" />
        </activity>
        <activity
            android:name=".BrokerActivity"
            android:label="@string/title_activity_broker"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gvsu.cis.mqtt_sweeper.DashboardActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gvsu.cis.mqtt_sweeper.LoginActivity" />
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>